<form>
  <div class="form-group">
    <table class="scenery-table" dir="ltr">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">{{localize 'SCENERY.name'}}</th>
          <th scope="col">{{localize 'SCENERY.file'}}</th>
          <th scope="col">{{localize 'SCENERY.gm'}}</th>
          <th scope="col">{{localize 'SCENERY.player'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each variations as |v i|}}
        {{> 'modules/scenery/templates/variation.hbs' id=i}}
        {{/each}}
      </tbody>
    </table>
  </div>
  <footer class="sheet-footer flexrow">
    <button type="button" class="scan" name="scan">
      <i class="fas fa-search"></i> {{localize 'SCENERY.scan'}}
    </button>
    <button type="button" class="add" name="add">
      <i class="fa fa-plus"></i> {{localize 'SCENERY.add'}}
    </button>
    <button type="submit" name="submit">
      <i class="fa fa-check"></i> {{localize 'SCENERY.ok'}}
    </button>
  </footer>
</form>
