<tr>

  <td class="scenery-preview">
    <button type="button" title="Preview">
      <i class="fa fa-eye"></i>
    </button>
  </td>

  <td class="scenery-name">
    <input type="text" name="variations.{{ id }}.name" value="{{ name }}"
      placeholder="New Variation" data-dtype="String" {{#if (eq id 0) }}disabled{{/if}}>
  </td>

  <td class="scenery-fp">
    <div class="form-fields">
      <input class="image" type="text" value="{{ file }}" name="variations.{{ id }}.file" data-target="variations.{{ id }}.file" data-dtype="String" />
      <button type="button" title="Browse Files" class="file-picker"
        data-type="imagevideo" data-target="variations.{{ id }}.file">
        <i class="fa fa-file-import fa-fw"></i>
      </button>
    </div>
  </td>

  <td class="scenery-gm">
    <input value={{ id }} {{#if (eq file @root.gm)}}checked{{/if}} type="radio" name="gm" data-dtype="boolean">
  </td>

  <td class="scenery-player">
    <input value={{ id }} {{#if (eq file @root.pl)}}checked{{/if}} type="radio" name="pl" data-dtype="boolean">
  </td>

  <td class="scenery-preview">
    <button type="button" title="Delete">
      <i class="fa fa-trash"></i>
    </button>
  </td>

</tr>